DATABASE_URL='postgresql://neondb_owner:npg_iEMzsFWy23aK@ep-red-butterfly-amnsw1f7-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
JWT_SECRET="change-this-secret"
PORT=4000
