DATABASE_URL='postgresql://neondb_owner:npg_iEMzsFWy23aK@ep-red-butterfly-amnsw1f7-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
JWT_SECRET="change-this-secret"
JWT_REFRESH_SECRET="change-this-refresh-secret"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"
JWT_REFRESH_EXPIRES_MS=2592000000
PORT=4000
